﻿@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<a class="navlink" href="/Teacher/List">Back To Teachers List</a>

<div class="teacherinfo">

    <h2>@Model.teacherfname @Model.teacherlname</h2>
    <p>Employee Number: @Model.employeenum</p>
    <p>Hire Date: @Model.hiredate</p>
    <p>Salary: @Model.salary</p>

</div>
<h3><a class="updatelink" href="/Teacher/Update/@Model.teacherid">Update</a></h3>

<h3><a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherid">Delete</a></h3>

