
@{
    ViewBag.Title = "Update";
}

<nav>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</nav>

<h2>Update Teacher</h2>

<form method="POST" action="/Teacher/Update/@Model.teacherid" name="updateform">
    <div class="inputline">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.teacherfname" />
    </div>
    <div class="inputline">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.teacherlname" />
    </div>
    <div class="inputline">
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.employeenum" />
    </div>
    <div class="inputline">
        <label for="hireDate">Hire date:</label>
        <input type="date" id="HireDate" name="hireDate" value="@Model.hiredate" />
    </div>
    <div class="inputline">
        <label for="salary">Salary:</label>
        <input type="number" id="Salary" name="salary" value="@Model.salary" />
    </div>


    <!-- Error Messages Section -->
    @if (ViewBag.Error != null)
    {
        <p class="error-message">@ViewBag.Error</p>

    }
    <div class="inputline">
        <input type="submit" value="Update Teacher" />
    </div>

</form>


